.rm-fullContainer
    width 100%
    height 100vh
    display flex
    flex-flow column
    align-items center
    justify-content center
    background linear-gradient(0deg,#333,#000)
    .rm-white-bg
        background white
        padding 1rem
        border-radius 5px
        width: 90vw
        height 80vh