<div class="main-wrapper">
    <div class="wrapper" *ngIf="!cargando">
        <div class="img-container animate__animated animate__fadeIn" [ngStyle]="{'background-image':'url('+plato.imagenUrl[0].url}"></div>
        <div class="gradient-container animate__animated animate__fadeIn"></div>
        <div class="header-container animate__animated animate__fadeInUp">
            <h1>{{plato.nombre}}</h1>
        </div>
        <div class="content-container animate__animated animate__fadeInUp">
            <span class="badge bg-info text-light cantidad">Cant. personas: {{plato.cantPersonas}}</span>
            <p class="card-description mt-2">{{plato.descripcion}}</p>
            <hr>
            <div class="form-inputs">
                <span class="precio">$ {{plato.valor}}</span>
                <input type="number" placeholder="Cant: 0" name="cantidad" id="cantidad" />
            </div>
            <hr>
            <button type="button" class="btn btn-success btn-block btn-lg">Agregar al pedido</button>
        </div>
    </div>
</div>
<app-flecha-navegacion></app-flecha-navegacion>