.pedidos-de-mesa
    position fixed
    background rgba(0,0,0,.9)
    width: 100vw
    height 100vh
    top 0
    left 0
    z-index 999999999
    display flex
    flex-flow column
    align-items center
    justify-content center
    .btn-close
        position absolute
        right 3rem
        top 3rem
        i
            color white
            font-size 3rem
            cursor pointer