.content-center
    align-items center
    display flex
    flex-flow column
    height 100%
    justify-content center
    overflow hidden
    width 100%
    p
        text-align center
        padding 10px
.titulo-resto
    font-size 40px
    font-family 'Bebas Neue'
    font-weight bold
    text-transform uppercase
.gordito
    box-shadow 0px 5px 25px rgba(0,0,0,.1)
    font-size 30px
    max-width 120px
    padding 15px 15px 15px 30px
    text-align center
form
    align-items center
    display flex
    flex-flow column
    justify-content center
    width 100%
button
    -moz-appearance none
    -webkit-appearance none
    appearance none
    background-color #4b4e6d
    border none
    border-radius 5px
    color white
    cursor pointer
    margin-top 20px
    padding 20px 40px
    text-transform uppercase
    box-shadow 0px 5px 25px rgba(0,0,0,.1)

.rm-white-bg
    border-radius 30px 30px 0px 0px
    box-shadow 0px -20px 40px rgba(0,0,0,.1)
    display flex
    flex-flow column
    justify-content center
    min-height 83vh
    padding 1rem
    width: 100vw
    background linear-gradient(180deg,#FFF,#DDD) 