<h1 class="titulo-header">Mesas | <span class="badge bg-dark" *ngIf="datos_restaurante">{{datos_restaurante.nombre}}</span></h1>
<hr class="barra-header">
<div class="d-flex justify-content-center" *ngIf="cargando">
    <div class="spinner-border" role="status">
        <span class="sr-only">Cargando...</span>
    </div>
</div>
<div class="container-fluid" *ngIf="!cargando">
    <div class="d-flex flex-row-reverse">
        <div class="p-0 mt-2 mb-3">
            <button class="btn btn-primary" (click)="crearNuevaMesa()">+ Mesa</button>
        </div>
    </div>

    <div class="card border-dark mb-3" *ngIf="datos_mesas && datos_mesas.length == 0">
        <div class="card-header">Mesas de {{datos_restaurante.nombre}}</div>
        <div class="card-body text-dark">
            <h5 class="card-title">Bienvenido!</h5>
            <p class="card-text">En esta sección podrás cargar y administrar las mesas de tu restaurante. Comienza creando tu primera mesa!</p>
        </div>
    </div>
    
    <table class="table table-striped" *ngIf="datos_mesas && datos_mesas.length > 0">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Nombre de mesa</th>
                <th>Número</th>
                <th>Estado de la mesa</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let mesa of datos_mesas; index as i">
                <td>{{i+1}}</td>
                <td>{{mesa.nombre}}</td>
                <td>{{mesa.numero}}</td>
                <td>
                    <span *ngIf="mesa.activa" class="badge bg-success text-white">Activa</span>
                    <span *ngIf="!mesa.activa" class="badge bg-danger text-white">Inactiva</span>
                </td>
                <td style="width:140px;">
                    <button (click)="editarMesa(mesa)" type="button" class="btn btn-primary"><i class="far fa-edit"></i> Editar</button>
                </td>
                <td style="width:140px;">
                    <button (click)="eliminarMesa(mesa)" type="button" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>