.rm-login-container
    align-items center
    background rgba(0,0,0,.6)
    display flex
    flex-flow column
    height 100vh
    justify-content center
    position fixed
    width 100vw

.rm-login-box
    width 40vw
    padding 20px
    background-color #EFEFEF
    border-radius .5em
    .rm-logo
        width 80%
        display block
        margin 0 auto
    form
        display flex
        flex-flow column
        align-items center
        input[type=email], input[type=password]
            margin-bottom 10px
            appearance none
            padding 10px
            border 1px solid #DDD
            border-radius .5em
            outline none
            resize none
            width 80%
        .rm-chk-container
            padding 10px
            display flex
            flex-flow row
            align-items: center
            label
                margin 0
            input
                margin-right 10px