<h1 class="titulo-header">Pedidos | <span class="badge bg-dark" *ngIf="datos_restaurante">{{datos_restaurante.nombre}}</span></h1>
<hr class="barra-header">
<table class="table table-striped" *ngIf="datos_mesas && datos_mesas.length > 0">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Nombre de mesa</th>
            <th>Número</th>
            <th>Ocupada/Desocupada</th>
            <th>Cantidad de personas</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let mesa of datos_mesas; index as i">
            <td>{{i+1}}</td>
            <td>{{mesa.nombre}}</td>
            <td>{{mesa.numero}}</td>
            <td>
                <span *ngIf="mesa.ocupada" class="badge bg-danger text-white">Ocupada</span>
                <span *ngIf="!mesa.ocupada" class="badge bg-success text-white">Desocupada</span>
            </td>
            <td> {{mesa.cantidadComensales}} </td>
            <td style="width:170px;">
                <button *ngIf="mesa.ocupada" type="button" class="btn btn-primary"><i class="fas fa-pizza-slice"></i> Ver pedidos</button>
            </td>
        </tr>
    </tbody>
</table>