.contenedor-imagen
    width 100%
    min-height 180px
    background-size: cover
    background-position-x: -50px

.contenedor-titulo
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    margin-bottom: 2rem
    h1
        font-family 'Maven Pro'
        color #222
        font-weight: bolder