<app-flecha-navegacion></app-flecha-navegacion>

<div class="contenedor-titulo">
    <h1> {{ parametroCategoria | uppercase}} </h1>
</div>

<div *ngIf="!cargando">
    <div *ngIf="menu.length > 0">
        <div *ngFor="let item of menu" class="main-card-container animate__animated animate__fadeInRight" (click)="verPlato(item)">
            <div class="row">
                <div class="col-12 contendor-columnas-carta">
                    <div class="contenedor-imagen" [ngStyle]="{'background-image':'url('+item.imagenUrl[0].url}" >
                    </div>
                    <div class="contenedor-texto">
                        <h5 class="titulo">{{item.nombre}}</h5>
                        <p class="descripcion">{{item.descripcion | slice:0:80}}...</p>
                        <p class="info">Cant. personas: {{item.cantPersonas}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="menu && menu.length == 0">
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div>
                No hay elementos para elegir en esta sección :'(
            </div>
        </div>
    </div>
</div>