.drag-container
    display flex
    align-items center
    justify-content center
    padding 20px
    border-radius 4px
    background-color white
    border 1px solid #DDD
    span
        color: #999
    &.drag-over
        box-shadow 0px 0px 15px rgba(0,0,0,.1)
        span
            color: #444